.sidenav {
    height: 100%;
    width: 165px;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    border-right: 1px solid #AAAAAA;
    overflow-x: hidden;
    padding-top: 76px;
}

.sidenav a,
p {
    padding: 6px 8px 6px 16px;
    margin: 5px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    background-color: #E9ECEF;
    border-radius: 5px;
}

.sousmenu {
    margin-left: 15px;
    font-size: 0.9em;
}

@media screen and (max-width:575px) {
    .sidenav {
        display: none;
    }
}