<div class="wrapper">
    <h3>Liste des campagnes</h3>
    <ng-container *ngIf="!campaigns">
        <mat-spinner class="spinner-form" *ngIf="!campaign; else elseBlock"></mat-spinner>
    </ng-container>

    <ng-container *ngIf="campaigns">
        <table class="table-campaign" dense>
            <tr>
                <th>Libelle</th>
                <th>Site</th>
                <th>Start date</th>
                <th>End date</th>
                <th *ngIf="!mobile">Comment</th>
                <!-- <th>Result</th> -->
            </tr>
            <tr *ngFor="let campaign of campaigns" [routerLink]="['/result', campaign.id]">
                <td>{{campaign.libelle}}</td>
                <td>{{getLabelSite(campaign.site_code_legacy)}}</td>
                <td>{{returnDate(campaign.date_start)}}</td>
                <td>{{returnDate(campaign.date_end)}}</td>
                <td *ngIf="!mobile">{{campaign.comment}}</td>
                <!-- <td class="btns-action">
                <mat-icon class="btn-action-result">bar_chart
                </mat-icon>
            </td> -->
            </tr>
        </table>
        <pre *ngIf="modeDebug">{{campaigns | json}}</pre>
    </ng-container>

</div>