/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'TitilliumWeb';
    src: url('assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-Bold';
    src: url('assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url('assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-SemiBold';
    src: url('assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
}

h1,
h2,
h3 {
    font-family: 'TitilliumWeb-bold', 'sans-serif' !important;
}

body {
    font-family: 'TitilliumWeb', 'sans-serif' !important;
    margin: 0;
    min-width: 320px;
}

.wrapper {
    font-family: 'TitilliumWeb', 'sans-serif' !important;
    margin-left: 185px;
    margin-right: 20px;
    margin-top: 85px;

    @media screen and (max-width:575px) {
        margin-left: 20px;
    }

}


// Snackbar 
@mixin snackbar-color($background, $color) {
    background: $background !important;
    max-width: 100vw !important;
    font-size: 16px !important;
    color: $color;

    .mat-simple-snackbar {
        font-size: 16px !important;
    }
}

@mixin snackbar-button($background, $color) {
    color: $color !important;
    background-color: $background !important;
    font-size: 16px !important;
}

.error-snackbar {
    @include snackbar-color(#f0484c, white);

    .mat-button {
        @include snackbar-button(#c74042, white);
    }
}

.info-snackbar {
    @include snackbar-color(#0b2e42, white);

    .mat-button {
        @include snackbar-button(#071e2c, #c74042);
    }
}

.warning-snackbar {
    @include snackbar-color(#e8a221, white);

    .mat-button {
        @include snackbar-button(#d69825, #c74042);
    }
}


// Spinner
.spinner-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #8ac238 !important;
}

.btn-form {
    width: 100px !important;
    background-color: #8ac238;
    color: white;
}