<mat-toolbar>
    <div class="header-btns">
        <button *ngIf="onHome() && !onLogin()" class="header-btn" mat-button (click)="goToPreviousPage()">
            <mat-icon id="close-icon">navigate_before</mat-icon>
        </button>
        <button *ngIf="!onLogin()" mat-button id="menu-btn" class="header-btn" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>


    <div class='header-title' [ngClass]="{'header-title-onLogin': onLogin()}">
        <h1 routerLink="/home">{{ 'OccuSpace' | uppercase }} </h1>
    </div>

    <div class="header-btns-right">
        <span [matMenuTriggerFor]="lngMenu" *ngIf="getCurrentLanguage()=== 'en'">
            <img src="assets/img/drapeau_GBR.png" class="language-logo">
        </span>
        <span [matMenuTriggerFor]="lngMenu" *ngIf="getCurrentLanguage()=== 'fr'">
            <img src="assets/img/drapeau_FRF.png" class="language-logo">
        </span>
    </div>

</mat-toolbar>


<mat-menu #lngMenu="matMenu">
    <button mat-menu-item (click)="useLanguage('fr')"> <img src="assets/img/drapeau_FRF.png"
            class="language-logo-menu">{{'language.fr' | translate }}
        <mat-icon *ngIf="getCurrentLanguage()=== 'fr'" class="check-icon-menu">check</mat-icon>
    </button>
    <button mat-menu-item (click)="useLanguage('en')"> <img src="assets/img/drapeau_GBR.png"
            class="language-logo-menu">{{'language.en' | translate }}
        <mat-icon *ngIf="getCurrentLanguage()=== 'en'" class="check-icon-menu">check</mat-icon>
    </button>
</mat-menu>

<mat-menu #menu="matMenu">
    <mat-list>
        <mat-list-item style="cursor:pointer;" routerLink="/home"> {{'menu.home' | translate }} </mat-list-item>
        <!-- <mat-list-item routerLink='/result'> {{'menu.result' | translate }} </mat-list-item> -->
        <mat-list-item style="cursor:pointer;" routerLink='/manage'> {{'menu.manage' | translate }} </mat-list-item>
        <mat-list-item style="cursor:pointer;" (click)="logout()"> {{'login.logout' | translate }} </mat-list-item>
    </mat-list>
</mat-menu>